#header {
  text-align: center;
  border: 10px;
  border-color: black;
}
#nav {
  line-height: 30px;
  height:500px;
  width:150px;
  float:left;
  padding:10px;
  background-color: lightgrey;
}
#section {
  width:650px;
  float:left;
  padding:10px;
}
#footer {
  background-color: black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}
h1:nth-child(1) {
  color:  teal;
  font-size:40px;
}
body {
  background-color:lightgrey;
  font-family:Tahoma, Geneva,cursive; sans-serif;
  color:grey;
}
