/* element selctor */
h1 {
  color: red;
}
body {
  font-family: serif;
  line-height: 20px;
}
cite {
  text-transform: uppercase;
}

/* id selector can only be used once per page -- use class selector w/<span class=""> instead*/

#firstline {
  color: green;
}

/* class selector */

.dates {
  font-weight: bold;
  font-style: italic;
}

/* child selector -- must be an immediate relation to parent */

.fontinfo > li {
  color: blue;
}

/* descendent selector first item is parent, second item is what you want to style ... can use this with "grandchildren" */

ul blockquote {
  background-color: lightgray;
}
