html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

h1 {
  color: black;
  font-family: 'Rock Salt';
  font-size: 3vmax;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2vmax;
  text-transform: uppercase;
  text-align: center;
}

main {
  font-family: 'Lato', sans-serif;
}

.heropic {
  background-image: url(Outdoor-records.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  text-align: center;
}

.heropic h1 {
  color: #003333;
  font-family: 'Rock Salt';
  font-size: 5vmax;
  margin: 0 auto;
}

.vertical-contain {
  display: table;
  height: 63%;
  width: 100%;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.about {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.5em;
}

.freelance {
  background-color: #F0F0F0;
  margin: 0 auto;
}

.freelance h1 {
  padding-top: 1em;
  margin-bottom: 0;
}

.container {
  background-color: #F0F0F0;
}

/* Grid */

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-2 {
  width: 80%;
  float: left;
  margin: 0 10%;
  background-color: #F0F0F0;
}
