


header {
  width: 800px;
  height: 80px;
  background-color: black;
  margin-bottom: 20px;
}

header h5 {
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 0 0 0 60px;
  padding-top: 40px;
  text-align: right;
  width: 40%;
}

.page {
  width: 800px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}



.featurecontainer {
  width: 640px;
  height: 420px;
  border: 1px;
  float: left;
  clear: both;
  border: 1px;
  background-color: grey;
}

.featurecontainer h1 {
  margin-top: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */
